:host {
    display: block;
    height: 100vh;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

h1,h3 {
    color: white;
}

.mat-mdc-form-field-error{
    color: white;
}