<app-navbar></app-navbar>
<div class="video-section">
    <video autoplay playsinline loop muted class="video-bg">
        <source src="/videos/video_landing_HD.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="overlay"></div>
    <div class="text-box">
        <p class="over-video">Welcome to KGK Experience<br>
            Experience the epitome of luxury and comfort at our hotel.<br><br>
            <a class="btn btn-dark" href="/signup" role="button">Discover More</a>
        </p>
    </div>
</div>



<!-- 
<owl-carousel-o [options]="carouselOptions">
    <ng-container *ngFor="let image of images">
      <ng-template carouselSlide>
        <img [src]="image" class="carousel-img" />
      </ng-template>
    </ng-container>
  </owl-carousel-o> -->



<div class="container">

    <div class="row">
        <div class="col-sm-8">
            <div class="image-container">
                <img src="/images/hotel.jpg" alt="Hotel Exterior Pool sea">
            </div>
            <div class="content">
                <h2>Location</h2>
                <p>In the heart of Athens. Gazing at the Parthenon. Few steps away from the Acropolis. Voted as the #1 Best Hotel in Greece at the Condé Nast Traveller Readers’ Choice Awards, among more accolades, THE DOLLI epitomizes the glory of the ancient wonders and the vibrant energy of the city.</p>
                <a href="/signup">Explore</a>
            </div>
        </div>
        <div class="col-sm-4"> <div class="image-container">
            <img src="/images/art.jpg" alt="Hotel Exterior Pool sea">
        </div>
        <div class="content">
            <h2>The Story</h2>
            <p>KGK Hotel stands as a jewel in the heart of Athens, a true testament to the city's rich history and vibrant culture. Nestled within a beautifully restored neoclassical building, designed by one of Greece's most renowned architects over a century ago, the hotel seamlessly blends the grandeur of the past with the luxuries of the present.</p>
            <a href="/signup">Explore</a>
        </div></div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <img class="card-img-top rounded-0" src="/images/singleroom.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Standard Room</p>
                  <p>Comfortable and cozy, perfect for a short stay.</p>
                </div>
              </div> 
        </div>
        <div class="col">
            <div class="card no-border rounded-0 ">
                <img class="card-img-top rounded-0" src="/images/doubleroom.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Double Room</p>
                  <p>Comfortable and cozy, perfect for a short stay.</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card no-border rounded-0">
                <img class="card-img-top rounded-0" src="/images/suiteroom2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Suite Room</p>
                    <p>Comfortable and cozy, perfect for a short stay.</p>
                </div>
              </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <a class="btn btn-dark" href="/signup" role="button">Book Now</a>
    </div>
</div>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">©2025 KGK Hotels</span>
      </div>
    </footer>
  </div>